# EditorConfig: http://EditorConfig.org

# This is the top-most EditorConfig file.
root = true

[*.{js,json}]
indent_style = space
indent_size = 2

# Default to Google Style
# https://code.google.com/p/google-styleguide/
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
